@font-face {
    font-family: 'sinkin_sans';
    src: url('fonts/SinkinSans-400Regular-webfont.eot');
    src: url('fonts/SinkinSans-400Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/SinkinSans-400Regular-webfont.woff2') format('woff2'),
         url('fonts/SinkinSans-400Regular-webfont.woff') format('woff'),
         url('fonts/SinkinSans-400Regular-webfont.ttf') format('truetype'),
         url('fonts/SinkinSans-400Regular-webfont.svg#sinkin_sans400_regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
body
{
	
	background-image: url('Img/fond.jpg');
}
h1
{
	background-color: rgb(34, 93, 100, 0.8);
	color:  black;
	text-align: center;
	text-shadow:  1px 1px 1px black;;
	border: 2px black solid;
	box-shadow: 6px 6px 6px black;
	font-family: 'sinkin_sans';
}
h2
{
	box-shadow: 6px 6px 6px black;
	border: 1px black solid;
	background-color: rgb(67, 123, 130);
	color: #0B323;
}
img
{
	float: left;
}
.P1
{
	font-size: 1.6em;
	text-align: center;
	background-color: rgb(145, 197, 203, 0.5);
	box-shadow: 6px 6px 6px black;
}
article
{
	display: inline-block;
	vertical-align: top;
	box-shadow: 6px 6px 6px black;
	width: 30%;
}
#lisére, #infos
{
	display: inline-block;
	vertical-align: top;

}
#infos
{
	width: 85%;
}
#lisére
{
	width: 10%;
	margin-right: 3%;
	height: 800px;
	box-shadow: 6px 6px 6px black;
	background-color: #0A3643;
}
@media screen and (max-width: 1024px)
{
	#lisére
	{
		display: none;
		
	}
	article
	{
		display: inline;

	}
	h1
	{
		font-size: 1.5em;
	}
	


}




